@import "@/styles/media.scss";

.landing {
    width: 100vw;
    background-color: #fcfcfc;
    color: black;
    min-height: calc(100vh - 92px);
    justify-content: center;

    .header {
        width: 100vw;
        height: 70px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-bottom: 1px solid #d5d8e0;

        .logo {
            width: 129px;
            height: 55px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 174px);
        min-height: 650px;
        margin-top: 33px;
        gap: 16px;

        .logoTlajo {
            width: 181px;
            height: 50px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .inputs {
            margin-top: 36px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            p {
                font-size: 18px;
                color: #000000;
                font-weight: 700;
            }

            .form_link {
                border: 1px solid #858585;
                background-color: #ffffff !important;
                font-size: 14px;
                color: #141010;
                text-align: center;
                font-weight: 600;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                /* Quita el subrayado de los enlaces */
                width: 100%;
                height: 45px;

                &:hover {
                    border: 1px solid #000;
                    background: #fff !important;
                    color: #000;
                    font-size: 14px;
                }
            }
        }

        .incorrectPass {
            width: 284px;
            height: 45px;
            background-size: cover;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            background-color: #ffe7e6;
            border-radius: 5px;
            border-left: 5px solid #ff5757;
            padding-left: 16px;

            .txtRed {
                font-size: 14px;
                color: #ff5f5f;
                font-weight: 600;
            }
        }

        .w300 {
            width: 300px;
        }
    }

    footer {
        height: 70px;
        background-color: #f2f4f7;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;


        >p:nth-child(1) {
            font-weight: 600;
            font-size: 14px;
            color: #000000;
        }

        >p:nth-child(2) {
            font-size: 14px;
            color: #000000;
        }

        >p:nth-child(3) {
            font-size: 14px;
            color: #000000;
        }
    }

    .balls {
        max-width: 1920px;
        position: relative;
        .backBall1{
            z-index: 1;
            position: absolute;
            right: -180px;
            top: -180px;
        }
        .backBall2{
            z-index: 2;
            position: absolute;
            opacity: 0.4;
            left: -134px;
            top: 190px;
        }

        .video_container {
            z-index: 3;
            margin: 42px 107px 0px;
            position: relative;
            iframe{
                height: 754px;
            }
            .colors_container{
                display: flex;
                margin-top: -4px;
                border-radius: 0 0 10px 10px;
                overflow: hidden;
                div{
                    width: 25%;
                    height: 24px;
                    opacity: 0.8;
                }
                .red{
                    background-color: #fa475a;
                }
                .blue{
                    background-color: #39c3df;
                }
                .yellow{
                    background-color: #f28902;
                }
                .green{
                    background-color: #6bd847;
                }
            }
        }
    }

    .portraits{
        margin-top: 107px;
        max-width: 1920px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 146px 640px 640px 120px;
        grid-column-gap: 0px;
        grid-row-gap: 70px;
        
        .div1 { 
            grid-area: 1 / 1 / 2 / 3; 
            position: relative;
            .divGreen{
                position: absolute;
                right: -74px;
                width: 1029px;
                height: 146px;
                border-radius: 100px;
                background-color: #6bd847;
                box-shadow: 5px 9px 5px rgba(107,216,71,0.48);
            }
            .text{
                position: absolute;
                right: 142px;
                color: white;
                font-family: Roboto;
                font-size: 54px;
                margin-top: 40px;
            }
        }
        .div2 { 
            grid-area: 2 / 1 / 3 / 2;
            text-align: -webkit-right; 
            .displayFlex{
                width: 744px;
                display: flex;
                margin-bottom: 34px;
                right: 0;
                .img{
                    height: 51px;
                    width: 51px;
                    margin-right: 27px;
                }
                .textBlack{
                    // height: 41px;
                    font-family: Roboto;
                    font-size: 34px;
                    color: #000000;
                    margin-top: 5px;
                }
            }
        
        }
        .div3 { 
            grid-area: 2 / 2 / 3 / 3; 
            position: relative;
            .imgFloat1{
                position: absolute;
                left: 40px;
            }
            .imgFloat2{
                position: absolute;
                left: 400px;
                top: 250px;
            }
        }
        .div4 { 
            grid-area: 3 / 1 / 4 / 2; 
            position: relative;
            .imgFloat1{
                position: absolute;
                right: 380px;
            }
            .imgFloat2{
                position: absolute;
                right: 40px;
                top: 210px;
            }
        }
        .div5 { 
            grid-area: 3 / 2 / 4 / 3;
            text-align: -webkit-left; 
            padding-top: 50px;
            .displayFlex{
                width: 744px;
                display: flex;
                margin-bottom: 34px;
                // margin-top: 50px;
                right: 0;
                .img{
                    height: 51px;
                    width: 51px;
                    margin-right: 27px;
                }
                .textBlack{
                    text-transform: capitalize;
                    font-family: Roboto;
                    font-size: 34px;
                    color: #000000;
                    margin-top: 5px;
                }
            } 
        }
        .div6 { 
            grid-area: 4 / 1 / 5 / 3; 
            .displayFlex{
                padding: 0 220px;
                display: flex;
                margin-bottom: 34px;
                .img{
                    height: 51px;
                    width: 51px;
                    margin-right: 27px;
                }
                .textBlack{
                    text-transform: capitalize;
                    font-family: Roboto;
                    font-size: 34px;
                    color: #000000;
                    margin-top: 5px;
                }
            } 
        }
    }

    .colorBalls{
        // padding: 200px;
        background-color: #fcfcfc;
        .div1 { 
            padding-top: 150px;
            height: 300px;
            position: relative;
            .divYellow{
                position: absolute;
                left: -74px;
                width: 1029px;
                height: 146px;
                border-radius: 100px;
                background-color: #f28902;
                box-shadow: 5px 6px 5px rgba(242,137,2,0.3);
            }
            .text{
                position: absolute;
                left: 142px;
                color: white;
                font-family: Roboto;
                font-size: 54px;
                margin-top: 40px;
            }
        }
        .textBig{
            padding: 70px 130px 90px;
            font-family: Roboto;
            font-size: 32px;
            color: #4e5559;
            span{
                font-weight: bold;
            }
        }
        .pt0{
            padding-top: 0px;
        }
        .h990px{
            height: 990px;
            justify-items: center;
            display: grid;
        }
        .colors_container{
            max-width: 1600px;
            width: 100%;
            height: 981px;
            display: flex;
            position: absolute;
            background-color: #fcfcfc;
            color: white;

            div{
                justify-content: center;
                text-align: center;
            }
            .red{
                top: 0;
                right: 0;
                background-color: #fa475a;
                width: 576px;
                height: 575px;
                box-shadow: 0px 13px 5px rgba(250,71,90,0.3);
                position: absolute; 
                border-radius: 100%;  
                padding: 150px 60px;  
            }
            .grey{
                top: 20px;
                left: 50px;
                background-color: #7b868c;
                width: 378px;
                height: 377px;
                box-shadow: 5px 6px 5px rgba(123,134,140,0.3);
                position: absolute; 
                border-radius: 100%;
                padding: 90px 20px; 
            }
            .blue{
                bottom: 0;
                left: 0;
                background-color: #36b1cd;
                width: 483px;
                height: 475px;
                box-shadow: 0px 13px 5px rgba(54,177,205,0.3);
                position: absolute; 
                border-radius: 100%;
                padding: 150px 20px; 
            }
            .yellow{
                top: 500px;
                right: 190px;
                background-color: #f28902;
                width: 415px;
                height: 415px;
                box-shadow: 5px 8px 5px rgba(242,137,2,0.3);
                position: absolute; 
                border-radius: 100%; 
                padding: 120px 60px; 
            }
            .green{
                top: 100px;
                right: 520px;
                background-color: #6bd847;
                width: 737px;
                height: 737px;
                box-shadow: 5px 6px 5px rgba(107,216,71,0.3);
                position: absolute; 
                border-radius: 100%;
                padding: 170px 100px;
            }
            .mt10px{
                margin-top: 10px;
            }
            .mt15px{
                margin-top: 15px;
            }
            .mt20px{
                margin-top: 20px;
            }
            .mt25px{
                margin-top: 25px;
            }
        }
        .fs20px{
            font-size: 20px;
        }
        .fs25px{
            font-size: 25px;
        }
        .fs26px{
            font-size: 26px;
        }
        .fs30px{
            font-size: 30px;
        }
        .fs29px{
            font-size: 29px;
        }
        .fs35px{
            font-size: 35px;
        }
        .fs39px{
            font-size: 39px;
        }
        .fs40px{
            font-size: 40px;
        }
        .fs50px{
            font-size: 50px;
        }
        
    }

    .begin{
        display: flex;
        padding-top: 180px;
        .imgPerson{
            width: 919px;
            height: 780px;
            transform: scaleX(-1);
            margin-bottom: -108px;
            z-index: 8;
        }
        .mcontainer{
            margin-left: -160px;
            text-align: -webkit-center;
        }
        .textBig{
            width: 890px;
            height: 108px;
            font-family: Roboto;
            font-size: 90px;
            color: #656e72;
            text-decoration: none solid rgb(101, 110, 114);
            margin-bottom: 39px;
            // margin-top: 139px;
        }
        .textsmall{
            width: 607px;
            height: 52px;
            font-family: Roboto;
            font-size: 44px;
            color: #7b868c;
            text-decoration: none solid rgb(123, 134, 140);
            margin-bottom: 88px;
        }
        .bigBlue{
            width: 773px;
            height: 111px;
            border-radius: 50px;
            background-color: #36b1cd;
            background-size: cover;
            font-family: Roboto;
            font-size: 48px;
            color: #ffffff;
            text-decoration: none solid rgb(255, 255, 255);
            text-align: center;
            box-shadow: 0px 8px 4px rgba(54,177,205,0.3);
            padding: 25px;
        }
    }

    .tutos{
        background-color: #e1e4ed;
        padding: 390px 0 185px;
        position: relative;
        .divBlue{
            position: absolute;
            right: -74px;
            width: 1029px;
            height: 146px;
            border-radius: 100px;
            background-color: #36b1cd;
            box-shadow: 5px 6px 5px rgba(54,177,205,0.3);
            color: white;
            padding: 42px 150px;
            font-size: 54px;
            top: 100px;
        }
        .dFlexy{
            padding: 0 76px 0 40px;
            display: flex;
            justify-content: space-between;
            // gap: 50px;
        }
        .divContain{
            width: 545px;
            height: 314px;
            border-radius: 25px;
            background: white;
            box-shadow: 3px 7px 4px rgba(0,0,0,0.2);
            padding: 20px 90px 40px;
            text-align: -webkit-center;
            position: relative;
            align-content: center;
            .dFlex{
                display: flex;
                place-content: center;
                .imgsier{
                    height: 46px;
                    width: 110px;
                    filter: brightness(0) contrast(0.2);
                }
                .pipe{
                    height: 40px;
                    width: 2px;
                    background-color: #666666;
                }
                .fs30pxTuto{
                    font-size: 16px;
                    color: #545454;
                    text-transform: uppercase;
                    margin: 12px 10px;
                }
            }
            .fs50px{
                font-size: 40px;
                color: #545454;
                margin-top: 30px;
            }
            .lineGray{
                margin-top: 14px;
                margin-bottom: 14px;
                width: 100%;
                background-color: #666666;
                height: 2px;
            }
            .fs22px{
                font-size: 26px;
                color: #545454;
                // margin-top: 40px;
            }
            .blueBall{
                position: absolute;
                right: -35px;
                bottom: -35px;
                width: 71px;
                height: 71px;
                background-color: #36b1cd;
                border-radius: 100px;
                padding: 18px;
                .img18{
                    height: 35px;
                    width: 35px;
                }
            }
        }
        .w545px{
            width: 545px;
        }
        .downTexts{
            color: #7b868c;
            text-align: -webkit-center;
            margin-top: 40px;
            .dFle{
                display: flex;
                justify-content: center;
                margin-top: 35px;
            }
            .pdfimg{
                width: 30px;
                height: 30px;
                fill: #7b868c;
                margin-left: 10px;
                margin-top: 15px;
            }
            .fs32px{
                font-size: 32px;
                font-weight: 700;
            }
            .fs24px{
                font-size: 24px;
                margin-top: 15px;
            }
            .fw500{
                font-weight: 500;
            }
            .lineBot{
                width: 257px;
                height: 5px;
                background-color: #7b868c;
                margin-top: 13px;
            }
        }
    }

    .bottom{
        background-color: #384045;
        color: white;
        padding: 37px 95px 38px;
        display: flex;
        justify-content: space-between;
        .fs30px{
            font-size: 30px;
        }
        .fs20px{
            font-size: 20px;
        }
        .imgTlajo{
            height: 72px;
            width: 255px;
        }
    }
}


.button_support {
    position: absolute;
    right: 0;
}

.button_support_icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 36px;
        height: auto;
    }
}

@include phone-screen () {
    .Login {
        .header {
            height: 109px !important;
            display: flex;
            justify-content: space-between !important;
            align-items: center;
            padding: 0px 27px 0px 44px;

            .version {
                font-size: 16px !important;
                color: #000000;
            }
        }

        .form {
            margin-top: 25px;

            .w300 {
                width: 300px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .landing {
        .balls {
            max-width: 1920px;
            position: relative;
            .backBall1{
                z-index: 1;
                position: absolute;
                right: -54px;
                top: -150px;
                height: 450px;
                width: 450px;
            }
            .backBall2{
                z-index: 2;
                position: absolute;
                opacity: 0.4;
                left: -64px;
                top: 206px;
                height: 233px;
                width: 233px;
            }

            .video_container {
                z-index: 3;
                margin: 42px 27px 0px;
                position: relative;
                iframe{
                    height: 579px;
                }
                .colors_container{
                    display: flex;
                    margin-top: -4px;
                    border-radius: 0 0 10px 10px;
                    overflow: hidden;
                    div{
                        width: 25%;
                        height: 13px;
                        opacity: 0.8;
                    }
                    .red{
                        background-color: #fa475a;
                    }
                    .blue{
                        background-color: #39c3df;
                    }
                    .yellow{
                        background-color: #f28902;
                    }
                    .green{
                        background-color: #6bd847;
                    }
                }
            }
        }

        .portraits{
            margin-top: 80px;
            max-width: 1920px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 170px 260px 300px 450px;
            grid-column-gap: 0px;
            grid-row-gap: 70px;
            
            .div1 { 
                grid-area: 1 / 1 / 2 / 3; 
                position: relative;
                .divGreen{
                    position: absolute;
                    right: -174px;
                    width: 529px;
                    // height: 146px;
                    height: 72px;
                    border-radius: 100px;
                    background-color: #6bd847;
                    box-shadow: 5px 9px 5px rgba(107,216,71,0.48);
                }
                .text{
                    position: absolute;
                    right: 62px;
                    color: white;
                    font-family: Roboto;
                    margin-top: 20px;
                    font-size: 24px;
                }
            }
            .div2 { 
                grid-area: 2 / 1 / 3 / 3;
                text-align: -webkit-right; 
                .displayFlex{
                    padding: 0 20px 0 0;
                    width: 744px;
                    max-width: 100%;
                    display: flex;
                    margin-bottom: 12px;
                    right: 0;
                    text-align: left;
                    .img{
                        height: 30px;
                        width: 30px;
                        margin-right: 5px;
                        margin-left: 22px;
                        margin-top: 4px;
                    }
                    .textBlack{
                        // height: 41px;
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 600;
                        color: #000000;
                        margin-top: 5px;
                    }
                }
            
            }
            .div3 { 
                grid-area: 2 / 1 / 3 / 3; 
                position: relative;
                .imgFloat1{
                    position: absolute;
                    width: 103px;
                    height: 118px;
                    left: auto;
                    right: 80px;
                    top: 80px;
                }
                .imgFloat2{
                    position: absolute;
                    left: 40px;
                    top: -150px;
                    width: 103px;
                    height: 118px;
                }
            }
            .div4 { 
                grid-area: 4 / 1 / 5 / 3; 
                position: relative;
                .imgFloat1{
                    position: absolute;
                    right: 100px;
                    width: 103px;
                    height: 118px;
                    bottom: 0px;
                }
                .imgFloat2{
                    position: absolute;
                    left: 100px;
                    top: 180px;
                    width: 103px;
                    height: 118px;
                }
            }
            .div5 { 
                grid-area: 3 / 1 / 4 / 3;
                text-align: -webkit-left; 
                padding-top: 50px;
                .displayFlex{
                    padding: 0 20px 0 0;
                    width: 744px;
                    max-width: 100%;
                    display: flex;
                    margin-bottom: 12px;
                    // margin-top: 50px;
                    right: 0;
                    .img{
                        height: 30px;
                        width: 30px;
                        margin-right: 5px;
                        margin-left: 22px;
                        margin-top: 4px;
                    }
                    .textBlack{
                        // height: 41px;
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 600;
                        color: #000000;
                        margin-top: 5px;
                    }
                } 
            }
            .div6 { 
                grid-area: 4 / 1 / 5 / 3; 
                .displayFlex{
                    padding: 0 20px 0 0;
                    display: flex;
                    margin-bottom: 12px;
                    .img{
                        height: 30px;
                        width: 30px;
                        margin-right: 5px;
                        margin-left: 22px;
                        margin-top: 4px;
                    }
                    .textBlack{
                        // height: 41px;
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 600;
                        color: #000000;
                        margin-top: 5px;
                    }
                } 
            }
        }

        .colorBalls{
            // padding: 200px;
            background-color: #fcfcfc;
            .div1 { 
                padding-top: 150px;
                height: 300px;
                position: relative;
                .divYellow{
                    position: absolute;
                    left: -74px;
                    width: 400px;
                    height: 72px;
                    border-radius: 100px;
                    background-color: #f28902;
                    box-shadow: 5px 6px 5px rgba(242,137,2,0.3);
                }
                .text{
                    position: absolute;
                    left: 42px;
                    color: white;
                    font-family: Roboto;
                    font-size: 24px;
                    margin-top: 20px;
                }
            }
            .textBig{
                padding: 0px 30px 30px;
                font-family: Roboto;
                font-size: 22px;
                color: #4e5559;
                span{
                    font-weight: bold;
                }
            }
            .pt0{
                padding-top: 0px;
            }
            .h990px{
                height: 2180px;
                justify-items: center;
                display: grid;
            }
            .colors_container{
                max-width: 1600px;
                width: 100%;
                height: 981px;
                // display: flex;
                // position: absolute;
                background-color: #fcfcfc;
                color: white;
                display: block;
                text-align: -webkit-center;

                div{
                    justify-content: center;
                    text-align: center;
                    font-weight: 500;
                }
                .red{
                    top: 0;
                    right: 0;
                    background-color: #fa475a;
                    width: 400px;
                    height: 400px;
                    box-shadow: 0px 13px 5px rgba(250,71,90,0.3);
                    position: static; 
                    border-radius: 100%;  
                    padding: 100px 40px;  
                    margin-bottom: 45px;
                }
                .grey{
                    top: 20px;
                    left: 50px;
                    background-color: #7b868c;
                    width: 400px;
                    height: 400px;
                    box-shadow: 5px 6px 5px rgba(123,134,140,0.3);
                    position: static; 
                    border-radius: 100%;
                    padding: 130px 40px; 
                    margin-bottom: 45px;
                }
                .blue{
                    bottom: 0;
                    left: 0;
                    background-color: #36b1cd;
                    width: 400px;
                    height: 400px;
                    box-shadow: 0px 13px 5px rgba(54,177,205,0.3);
                    position: static; 
                    border-radius: 100%;
                    padding: 130px 40px; 
                    margin-bottom: 45px;
                }
                .yellow{
                    top: 500px;
                    right: 190px;
                    background-color: #f28902;
                    width: 400px;
                    height: 400px;
                    box-shadow: 5px 8px 5px rgba(242,137,2,0.3);
                    position: static; 
                    border-radius: 100%; 
                    padding: 100px 40px; 
                    margin-bottom: 45px;
                }
                .green{
                    top: 100px;
                    right: 520px;
                    background-color: #6bd847;
                    width: 400px;
                    height: 400px;
                    box-shadow: 5px 6px 5px rgba(107,216,71,0.3);
                    position: static; 
                    border-radius: 100%;
                    padding: 100px 40px;
                    margin-bottom: 45px;
                }
                .mt10px{
                    margin-top: 10px;
                }
                .mt15px{
                    margin-top: 15px;
                }
                .mt20px{
                    margin-top: 20px;
                }
                .mt25px{
                    margin-top: 25px;
                }
            }
            .fs20px{
                font-size: 18px;
            }
            .fs25px{
                font-size: 18px;
            }
            .fs26px{
                font-size: 18px;
            }
            .fs30px{
                font-size: 18px;
            }
            .fs29px{
                font-size: 24px;
            }
            .fs35px{
                font-size: 24px;
            }
            .fs39px{
                font-size: 24px;
            }
            .fs40px{
                font-size: 24px;
            }
            .fs50px{
                font-size: 24px;
            }
            
        }

        .begin{
            display: block;
            padding-top: 110px;

            .imgPerson{
                width: 250px;
                height: 222px;
                transform: scaleX(-1);
                margin-top: 158px;
                z-index: 8;
                position: absolute;
            }
            .mcontainer{
                margin-left: 0;
                text-align: -webkit-center;
            }
            .textBig{
                width: 377px;
                height: auto;
                font-family: Roboto;
                font-weight: 600;
                font-size: 36px;
                color: #656e72;
                text-decoration: none solid rgb(101, 110, 114);
                margin-bottom: 19px;
                // margin-top: 139px;
            }
            .textsmall{
                width: 377px;
                height: auto;
                font-family: Roboto;
                font-weight: 600;
                font-size: 24px;
                color: #7b868c;
                text-decoration: none solid rgb(123, 134, 140);
                margin-bottom: 100px;
            }
            .bigBlue{
                width: 230px;
                height: 58px;
                border-radius: 50px;
                background-color: #36b1cd;
                background-size: cover;
                font-family: Roboto;
                font-size: 24px;
                font-weight: 600;
                color: #ffffff;
                text-decoration: none solid rgb(255, 255, 255);
                text-align: center;
                box-shadow: 0px 8px 4px rgba(54,177,205,0.3);
                padding: 15px;
                margin-bottom: 100px;
                margin-left: 162px;
                margin-right: 100%;
            }
        }

        .tutos{
            background-color: #e1e4ed;
            padding: 240px 0 60px;
            position: relative;
            .divBlue{
                position: absolute;
                right: -174px;
                width: 529px;
                height: 72px;
                border-radius: 100px;
                background-color: #36b1cd;
                box-shadow: 5px 6px 5px rgba(54,177,205,0.3);
                color: white;
                padding: 22px 50px;
                font-size: 24px;
                top: 80px;
            }
            .dFlexy{
                padding: 0 20px 0 20px;
                display: block;
                justify-content: space-between;
                text-align: -webkit-center;
                // gap: 50px;
            }
            .divContain{
                width: 346px;
                height: 214px;
                border-radius: 25px;
                background: white;
                box-shadow: 3px 7px 4px rgba(0,0,0,0.2);
                padding: 30px 35px 60px;
                text-align: -webkit-center;
                position: relative;
                align-content: center;
                .dFlex{
                    display: flex;
                    place-content: center;
                    .imgsier{
                        height: 36px;
                        width: 80px;
                        filter: brightness(0) contrast(0.2);
                    }
                    .pipe{
                        height: 26px;
                        width: 1px;
                        background-color: #666666;
                        margin-top: 5px;
                    }
                    .fs30pxTuto{
                        font-size: 11px;
                        color: #545454;
                        text-transform: uppercase;
                        margin: 12px 10px;
                    }
                }
                .fs50px{
                    font-size: 26px;
                    color: #545454;
                    margin-top: 24px;
                }
                .lineGray{
                    margin-top: 10px;
                    margin-bottom: 12px;
                    width: 100%;
                    background-color: #666666;
                    height: 2px;
                }
                .fs22px{
                    font-size: 17px;
                    color: #545454;
                    // margin-top: 40px;
                }
                .blueBall{
                    position: absolute;
                    right: calc(50% - 35px);
                    bottom: -35px;
                    width: 71px;
                    height: 71px;
                    background-color: #36b1cd;
                    border-radius: 100px;
                    padding: 18px;
                    .img18{
                        height: 35px;
                        width: 35px;
                    }
                }
            }
            .w545px{
                width: 100%;
            }
            .downTexts{
                color: #7b868c;
                text-align: -webkit-center;
                margin-top: 40px;
                .dFle{
                    display: flex;
                    justify-content: center;
                    margin-top: 25px;
                }
                .pdfimg{
                    width: 54px;
                    height: 54px;
                    margin-left: 10px;
                    margin-top: 0px;
                }
                .fs32px{
                    font-size: 24px;
                    font-weight: 700;
                    margin-top: 70px;
                }
                .fs24px{
                    font-size: 18px;
                    margin-top: 15px;
                }
                .fw500{
                    font-weight: 500;
                    font-size: 24px;
                }
                .lineBot{
                    width: 257px;
                    height: 5px;
                    background-color: #7b868c;
                    margin-top: 13px;
                    margin-bottom: 100px;
                }
            }
        }

        .bottom{
            background-color: #384045;
            color: white;
            padding: 27px 38px;
            display: flex;
            justify-content: space-between;
            .fs30px{
                font-size: 12px;
            }
            .fs20px{
                font-size: 12px;
            }
            .imgTlajo{
                width: 129px;
                height: 34px;
            }
        }
    }
}